### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [89]:
# Dependencies and Setup
import os
import pandas as pd

    
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
district_data = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [90]:
# Define Columns
school_count = school_data["school_name"].count()  # total number of schools
student_count = district_data["student_name"].count() # total number of students
total_budget = school_data["budget"].sum() # total budget
dist_avg_math = district_data["math_score"].mean() # average math score
dist_avg_reading = district_data["reading_score"].mean() # average reading score
#------------------------------------------------------------------------------------------------
# number of rows in which value of 'math_score' column is 70 or greater:
seriesObj1 = district_data.apply(lambda x: True if x['math_score'] >= 70 else False , axis=1)
pass_math = len(seriesObj1[seriesObj1 == True].index)  # Count number of True in series
pct_pass_math = pass_math / student_count * 100
#------------------------------------------------------------------------------------------------ 
# number of rows in which value of 'reading_score' column is 70 or greater:
seriesObj2 = district_data.apply(lambda x: True if x['reading_score'] >= 70 else False , axis=1)
pass_reading = len(seriesObj2[seriesObj2 == True].index)  # Count number of True in series
pct_pass_reading = pass_reading / student_count * 100
#------------------------------------------------------------------------------------------------
overall_avg_score = (dist_avg_math + dist_avg_reading) / 2  # overall average score

In [91]:
# Create dataframe (District Summary Table - DST)
DST = pd.DataFrame({"Total Number of Schools": [school_count],
                                   "Total Number of Students": [student_count],
                                   "Total Budget": [total_budget],              
                                   "Average Math Score": [dist_avg_math],
                                   "Average Reading Score": [dist_avg_reading],
                                   "Percent Passing Math": [pct_pass_math],
                                   "Percent Passing Reading": [pct_pass_reading],
                                   "Percent Overall Passing Rate": [overall_avg_score]})
DST
DST.style.format({"Total Budget": "${:,.2f}"})

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [92]:
# Define columns   (School Summary Table = SST)
school_name = school_data["school_name"]
total_students = school_data["size"]                              #students sorted by index
a = district_data.groupby(['school_name']).groups.keys()

grouped_school_data = district_data.set_index("school_name").groupby(['school_name'])  # gets school names
school_type = school_data.set_index('school_name')['type']                  # gets type of school
students_per_school = district_data.groupby('school_name')['size'].count()  # gets student count by high school
school_budget = district_data.groupby('school_name')['budget'].unique()    # gets budget
per_student_budget = school_budget / students_per_school                  # Per Student Budget
school_avg_math = district_data.groupby('school_name')['math_score'].mean()           #gets avg math score
school_avg_reading = district_data.groupby('school_name')['reading_score'].mean()     #gets avg reading score

students_passing_math = district_data[district_data["math_score"] >= 70].groupby("school_name")["student_name"].count()
pct_pass_math_school = students_passing_math / students_per_school * 100

students_passing_reading = district_data[district_data["reading_score"] >= 70].groupby("school_name")["student_name"].count()
pct_pass_reading_school = students_passing_reading / students_per_school * 100

overall_pass_rate = (pct_pass_reading_school + pct_pass_math_school) / 2

In [63]:
SST = pd.DataFrame({"School Type": school_type,                      # Huang High School        District
                    "Total Students": students_per_school,           # Bailey High School       4976
                    "Total School Budget": school_budget,            # Bailey High School       [3124928]
                    "Per Student Budget": per_student_budget,        # Bailey High School       [628.0]
                    "Average Math Score": school_avg_math,           # Bailey High School       77.048432
                    "Average Reading Score": school_avg_reading,     # Bailey High School       81.033963
                    "% Passing Math": pct_pass_math_school,          # Bailey High School       66.680064
                    "% Passing Reading": pct_pass_reading_school,    # Bailey High School       81.933280
                    "% Overall Passing Rate": overall_pass_rate})    # Bailey High School       74.306672


#SST = SST[["School Type", "Total Students", "Total School Budget", "Per Student Budget", "Average Math Score", 
#                   "Average Reading Score", "% Passing Math", "% Passing Reading", "% Overall Passing Rate"]]
# ADD FORMATTING HERE
SST

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,4976,[3124928],[628.0],77.048432,81.033963,66.680064,81.933280,74.306672
Cabrera High School,Charter,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Figueroa High School,District,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Ford High School,District,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308
Griffin High School,Charter,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Hernandez High School,District,4635,[3022020],[652.0],77.289752,80.934412,66.752967,80.862999,73.807983
Holden High School,Charter,427,[248087],[581.0],83.803279,83.814988,92.505855,96.252927,94.379391
Huang High School,District,2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Pena High School,Charter,962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Rodriguez High School,District,3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Shelton High School,Charter,1761,[1056600],[600.0],83.359455,83.725724,93.867121,95.854628,94.860875
Thomas High School,Charter,1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Wilson High School,Charter,2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679
Wright High School,Charter,1800,[1049400],[583.0],83.682222,83.955000,93.333333,96.611111,94.972222

## Top Performing Schools (By Passing Rate)

In [93]:
top_performers = SST.sort_values("% Overall Passing Rate", ascending=False)
top_performers.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Cabrera High School,Charter,1858,[1081356],[582.0],83.061895,83.975780,94.133477,97.039828,95.586652
Thomas High School,Charter,1635,[1043130],[638.0],83.418349,83.848930,93.272171,97.308869,95.290520
Pena High School,Charter,962,[585858],[609.0],83.839917,84.044699,94.594595,95.945946,95.270270
Griffin High School,Charter,1468,[917500],[625.0],83.351499,83.816757,93.392371,97.138965,95.265668
Wilson High School,Charter,2283,[1319574],[578.0],83.274201,83.989488,93.867718,96.539641,95.203679

* Sort and display the top five schools in overall passing rate

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [94]:
bottom_performers = top_performers.tail()
bottom_performers.sort_values(['% Overall Passing Rate'])

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,3999,[2547363],[637.0],76.842711,80.744686,66.366592,80.220055,73.293323
Figueroa High School,District,2949,[1884411],[639.0],76.711767,81.158020,65.988471,80.739234,73.363852
Huang High School,District,2917,[1910635],[655.0],76.629414,81.182722,65.683922,81.316421,73.500171
Johnson High School,District,4761,[3094650],[650.0],77.072464,80.966394,66.057551,81.222432,73.639992
Ford High School,District,2739,[1763916],[644.0],77.102592,80.746258,68.309602,79.299014,73.804308

## Math Scores by Grade

#### * Create a table that lists the average Math Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [95]:
grade9_math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
grade10_math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
grade11_math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
grade12_math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

avg_math_score = pd.DataFrame({
        "9th": grade9_math,
        "10th": grade10_math,
        "11th": grade11_math,
        "12th": grade12_math})
avg_math_score

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [96]:
grade9_reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
grade10_reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
grade11_reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
grade12_reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

avg_reading_score = pd.DataFrame({
        "9th": grade9_reading,
        "10th": grade10_reading,
        "11th": grade11_reading,
        "12th": grade12_reading})
avg_reading_score

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [97]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

#  df["test_score_summary"] = pd.cut(df["test_scores"], bins, labels=group_names)
district_data['spending_bins'] = pd.cut(district_data['school_budget']/district_data['total_students'], 
                                 spending_bins, labels = group_names)

KeyError: 'school_budget'

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.

### Observable Trends

1. The top 5 schools are all charter school and the bottom 5 schools are all district schools.

2. Spending (per student) is higher in the bottom 5 schools compared to the top 5 schools in the district.